html, body {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #D7AEEB 0%, #AEE6EB 100%);
  color: #826ef3
}

button {
  background: #AEE6EB;
  color: #A99BFA;
  padding: 0 45px;
  border: 2px solid #A99BFA;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background-color: #63e6df;
}